.related-coordinate {
    padding-top: 24px;
    margin-bottom: 3em;
    ul {
        display: grid;
        // flex-wrap: wrap;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5em;
        // grid-auto-rows: 240px;
    }
    .archive_img{
        border-radius: 4px;
        overflow: hidden;
    }
    .archive_img img {
        height: 400px;
        max-width: unset;
        object-fit: cover;
    }
    h2 {
        margin: 0;
        line-height: 18px;
        font-size: 1.8rem;
        padding-bottom: 1rem;
        margin-bottom: 1.5rem;
        border-bottom: 2px solid #cda077;
    }
    .staff-profile-box {
        max-width: 600px;
        margin: 1em auto 0em !important;
    }
    .staff-face {
        width: 60px;
        height: 60px;
    }
    .staff-profile-box {
        .staff-profile {
            display: flex;
            margin-bottom: 3em;
            margin-top: 1em;
        }
        // .staff-face {
        //     border: 4px solid #9d2235;
        // }
    }
    .staff-face {
        max-width: 200px;
        border-radius: 100px;
        overflow: hidden;
        width: 75px;
        height: 75px;
        box-sizing: border-box;
    }
}
.related-articles-card {
}

@media screen and (max-width: 480px) {
    .related-coordinate ul{
        grid-template-columns: repeat(2, 1fr);
    }    
    .related-coordinate .archive_img img {
        height: 75vw;
    }
}