@use "../global" as *;
// =========================================================
//    Hover Animation
// =========================================================

$link: "link";

@media screen and (min-width: 480px) {
    *:not(.staff-ul) [class*="-#{$link}"] {
        transition: 0.15s all ease-in;
        &:hover {
            transform: translate(0, -4px);
            box-shadow: 0px 4px 4px 0px #eae9e1;
        }
    }
    .staff-ul [class*="-#{$link}"] {
        transition: 0.15s all ease-in;
        &:hover {
            transform: translate(0, -4px);
            box-shadow: 0 10px 8px #888;
        }
    }
}

.button {
    --unit: 1rem;
    padding: var(--unit);
    &--small {
        --unit: 0.5rem;
    }
    &--large {
        --unit: 1.5rem;
    }
}
