@use "../global" as *;
// =========================================================
//    loading animation v1
// =========================================================

.header-eyecatch-wrap {
    height: 100%;
    position: relative;
}

#loader {
    display: block;
    position: fixed;
    top: calc(50% + 60px);
    left: 0%;
    right: 0%;
    width: 200px;
    height: 48px;
    margin-top: -90px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    z-index: 2;
    /* background: #eeeeef; */
    /* z-index: -1; */
}

#loader img {
    background: #fff;
    width: 42px;
    height: 42px;
}

#loader p {
    color: #222;
    font-weight: 500;
    margin-top: 10px;
    font-size: 1.4rem;
    letter-spacing: 0;
}

.ouro {
    position: relative;
    display: inline-block;
    height: 32px;
    width: 32px;
    margin: 1em 1em 0;
    border-radius: 50%;
    background: none repeat scroll 0 0 #dddddd;
    /* ベースの色 - 可変 */
    overflow: hidden;
    -webkit-box-shadow:
        0 0 10px rgba(0, 0, 0, 0.1) inset,
        0 0 25px rgba(0, 0, 255, 0.075);
    box-shadow:
        0 0 10px rgba(0, 0, 0, 0.1) inset,
        0 0 25px rgba(0, 0, 255, 0.075);
}

.loader-bg .circle {
    border-bottom: none;
}

.ouro:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    display: block;
    height: 24px;
    width: 24px;
    background: none repeat scroll 0 0 #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ouro > span {
    position: absolute;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.lefter {
    left: 0;
}

.righter {
    left: 50%;
}

.anim {
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 999px;
    background: none repeat scroll 0 0 #8b2638;
    /* Ouroborosの色 - 可変 */
    opacity: 0.8;
    -webkit-animation: ui-spinner-rotate-left 3s infinite;
    animation: ui-spinner-rotate-left 3s infinite;
    -webkit-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
}

.lefter .anim {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.righter .anim {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: -100%;
    -webkit-transform-origin: 100% 50% 0;
    transform-origin: 100% 50% 0;
}

/* v2 */
.ouro2 .anim {
    -webkit-animation-delay: 0;
    animation-delay: 0;
}

.ouro2 .righter .anim {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

/* v3 */
.ouro3 .anim {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.ouro3 .righter .anim {
    -webkit-animation-name: ui-spinner-rotate-right;
    -webkit-animation-delay: 0;
    -webkit-animation-delay: 1.5s;
    animation-name: ui-spinner-rotate-right;
    animation-delay: 0;
    animation-delay: 1.5s;
}

/* round variation */
.round .ouro:after {
    display: none;
}

/* double variation */
.double .ouro:after {
    height: 13px;
    width: 13px;
    left: 7px;
    top: 7px;
    border: 10px solid #ddd;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@keyframes ui-spinner-rotate-right {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes ui-spinner-rotate-left {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes ui-spinner-rotate-right {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(180deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes ui-spinner-rotate-left {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
