.main {
	// max-width: 1000px;
	margin: 0 auto;
}

.main {
	padding: 1em 3%;
	// background-color: rgb(255 255 255);
	overflow: hidden;
	border-radius: 12px;
}

.text-justify {
	text-align: justify !important;
}
